node_modules
public/hot
public/storage
bootstrap/cache/*
storage
vendor
.DS_Store
.env.backup
.env.example
.styleci.yml
.editorconfig
.git
.gitignore
.gitattributes
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Dockerfile*
docker-compose*.yml
server.php
*.sqlite
*.sqlite-journal
*.md
